/* GRID */

.pr-images.grid{
  display: flex;
  gap: var(--NWD-gap-100);
}

.pr-image.grid {
  height: 100%;
  overflow: hidden;
}

.pr-image.grid img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* LIST */

.pr-images.list {
  display: flex;
  max-height: 40svh;
  gap: var(--NWD-gap-100);
}

.pr-image.list {
  min-width: 20svw;
  max-width: 50svw;
  /* height: 100%; */
  overflow: hidden;
}

.pr-image.list img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}