/* GRID */

.pr-links.grid {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: var(--NWD-transition-100);
}

.pr-links.grid a {
  min-width: 150px;

}

/* LIST */

