/* GRID */

.pr-main-image.grid {
  flex: 1;
}

.pr-main-image.grid {
  height: auto;
}

.pr-main-image .pr-image.grid {
  max-height: none;
  max-width: none;
  width: 100%;
  object-fit: none;
  height: 100%;
}

.pr-main-image .pr-image.grid img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}