.pr-article{
  display: flex ;
  flex-direction: column;
  gap: var(--NWD-gap-200);
  border-top: solid 1px var(--NWD-grey-150);
  padding: var(--NWD-gap-100) 0;
  overflow: hidden;
  transition: var(--NWD-transition-100);
}

/* .pr-article, active {
   padding-top: 2rem;
} */

.pr-main-info{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.pr-main-info div{
  display: flex;
  justify-content: space-between;
  gap: var(--NWD-gap-300);
}

.pr-name {
  min-width: 20svw;
}

.pr-inner-info{
  display: flex;
  flex-direction: row;
  gap: var(--NWD-gap-100);
}

.pr-images {
  display: flex;
  max-height: 40svh;
  gap: var(--NWD-gap-100);
}

.pr-image {
  max-width: 50svw;
  object-fit: cover;
  object-position: center;
  /* height: 100%; */
  overflow: hidden;
}

.pr-image img {
  /* width: 100%; */
  height: 100%;
  width: 100%;
}

.pr-side-info {
  display: flex;
  flex-direction: column;
  gap: var(--NWD-gap-200);
  justify-content: end;
}

.pr-technologie {
  text-transform: uppercase;
  font-size: var(--NWD-font-size-cap-p);
}

.dimmed {
  color: var(--NWD-grey-150);
}

.inactive {
  opacity: .2;
cursor: default;
}