.pr-article.grid{
  display: flex;
  flex-direction: column;
  padding: var(--NWD-gap-100) 0;
  gap: var(--NWD-gap-100);
  width: 80svw;
}

.pr-top-part.grid{
  display: flex;
  flex-direction: row;
  gap: var(--NWD-gap-100);
  height: 50svh;
}

.pr-side-info.grid{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--NWD-gap-100);
}

.pr-images.grid{
  /* height: 100%; */
  display: flex;
  gap: var(--NWD-gap-100);
}

.pr-image.grid {
  height: 100%;
  overflow: hidden;
}

.pr-image.grid img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.pr-main-image.grid{
  flex: 1;
  /* height: 100%;
  width: 100%; */
}

.pr-main-image.grid{
  height: auto;
}

.pr-main-image .pr-image.grid {
  max-height: none;
  max-width: none;
  /* min-height: 30svh; */
  width: 100%;
  /* max-width: 60svw; */
  object-fit: none;
  /* object-position: center; */
  height: 100%;
  /* overflow: hidden; */
}

.pr-main-image .pr-image.grid img{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.pr-inner-info.grid{
  flex: 1;
}

.pr-main-info.grid{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: var(--NWD-gap-300);
}

.pr-main-info.grid div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--NWD-gap-100);
}

.pr-links.grid {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pr-links.grid a {
  min-width: 200px;
}

.pr-name.grid{
  min-width: 200px;
}

