nav{
  padding: var(--NWD-padding-100);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: var(--NWD-grey-200);
}

#navbar-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

#navbar-ul li {
 display: flex;
 flex-direction: row; 
 font-size: var(--NWD-font-size-p);
}

.social-links{
  display: flex;
  flex-direction: row;
  gap: var(--NWD-gap-100);
}

.social-links a {
  /* color: var(--NWD-aqua-200); */
  text-decoration: underline;
}

#navbar-ul {
  flex-direction: row;
  align-items: end;
}

@media (max-width: 840px){

  nav{
    position: absolute;
    /* right: 1rem; */
  }

  #navbar-ul{
    flex-direction: column;
  }
}