nav{
  padding: var(--NWD-padding-100);
}

#navbar-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

#navbar-ul li {
 display: flex;
 flex-direction: row; 
 font-size: var(--NWD-font-size-p);
}

