#projects-section.list{
  /* background-color: var(--NWD-grey-300); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  /* gap: 0; */
  padding: var(--NWD-padding-100);
  height: 100svh;
  width: 100svw;
  padding-bottom: var(--NWD-padding-200);
  overflow-x: scroll;
}

#projects-section.grid{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
  padding: var(--NWD-padding-100);
  padding-bottom: var(--NWD-padding-200);
  overflow: hidden;
}

.projects-container.list{
  border-bottom: solid 1px var(--NWD-grey-150);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projects-container.grid{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--NWD-gap-100);
  /* width: 100%; */
  overflow: scroll;
  padding-bottom: var(--NWD-gap-100);
}

.dimmed {
  color: var(--NWD-grey-150);
}

.inactive {
  opacity: .2;
  cursor: default;
  pointer-events: none;
} 