#projects-section{
  /* background-color: var(--NWD-grey-300); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  /* gap: 0; */
  padding: var(--NWD-padding-100);
  height: 100svh;
  padding-bottom: var(--NWD-padding-200);
}

.projects-container.list{
  border-bottom: solid 1px var(--NWD-grey-150);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.projects-container.grid{
  border-bottom: solid 1px var(--NWD-grey-150);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100%;
}