#pr-view-switch {
  display: flex;
  flex-direction: row;
  align-self: end;
  justify-self: end;
  gap: var(--NWD-gap-100);
}

#pr-view-switch button {
  background: none;
  border: none; 
  cursor: pointer;
}

#pr-view-switch.grid{
  position: absolute;
  top: 110svh;
  border-bottom: solid 1px var(--NWD-grey-150);
  width: calc(100% - 2rem);
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--NWD-gap-200);
}