@font-face {
  font-family: n27;
  src: url("/assets/fonts/N27-Regular-&-Italic/Desktop/N27-Regular.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--NWD-font-family);
  scroll-behavior: smooth;
}

*::selection {
  background-color:var(--NWD-grey-400) ;
}

:root{
  /* colors */
  --NWD-aqua-100: #8CFFD6;
  --NWD-aqua-200: #6BD5AF;
  --NWD-grey-100: #353532;
  --NWD-grey-150: #3535327f;
  --NWD-grey-200: #E7E4DE;
  --NWD-grey-300: #EEEEEC;
  --NWD-grey-400: #FFFFFF;

  /* fonts */
  --NWD-font-family: 'n27', monospace;
  --NWD-font-weight: 400;
  --NWD-font-size-p: .85rem; 
  --NWD-font-size-cap-p: .70rem; 

  /* spacings */
  --NWD-padding-100: 1rem;
  --NWD-padding-200: 4rem;
  --NWD-gap-100: 0.5rem;
  --NWD-gap-200: 2rem;
  --NWD-gap-300: 4rem;
  --NWD-gap-400: 6rem;
  --NWD-margin-100: 1rem;  

  /* transitions */
  /* --NWD-transition-100: .5s ease-in-out; */
  --NWD-transition-100: .5s cubic-bezier(0.21,-0.01, 0.28, 1);
  --NWD-transition-100-invert: .5s cubic-bezier(0.29, 0.01, 0.62, 1);
}



#root {
  /* display: flex; */
  /* width: 100%; */
  /* overflow-x: hidden; */
}

a,p {
  color: var(--NWD-grey-100);
  font-weight: var(--NWD-font-weight);
  text-decoration: none;
  font-size: var(--NWD-font-size-p);
}

body {
  transition: var(--NWD-transition-100);
  background-color: var(--NWD-grey-200);
  overflow: hidden;
}

.hl {
  /* position: relative; */
    /* background: linear-gradient(
    -75deg, 
    transparent 10%,
    var(--NWD-aqua-100) 5%,
    var(--NWD-aqua-100) 90%,
    transparent 10%); */
  background-color: var(--NWD-aqua-100);
  font-style: italic;
}

h1, h2 {
  font-family: var(--NWD-font-family);
  font-weight: var(--NWD-font-weight);
  text-transform: uppercase;
  margin: 0;
  color: var(--NWD-grey-100);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: var(--NWD-font-size-p);
}

h3 {
  font-family: var(--NWD-font-family);
  font-weight: var(--NWD-font-weight);
  font-size: var(--NWD-font-size-p);
  color: var(--NWD-grey-100);
}

a {
  font-family: var(--NWD-font-family);
  color: var(--NWD-grey-100);
  /* opacity: .25; */
  text-transform: uppercase;
  font-size: var(--NWD-font-size-cap-p);
  z-index: 99;
}
