.side-btn{
  background: none;
  border: none;
  /* transform: rotate(90deg); */
  position: fixed;
  max-width: 160px;
  /* left: calc(3rem - 55px); */
  left: calc(2rem);
  /* bottom: 5rem; */
  bottom: 2rem;
  cursor: pointer;
  z-index: 99;
}

.side-btn p {
  text-transform: capitalize;
  font-size: var(--NWD-font-size-p);
  text-align: left;
  width: 100%;
}

@media (max-width: 790px){
  .side-btn{
    left: calc(100svw - 8rem);
  }
}